<section class="">
  <nav
    x-data="{ 
    mobileMenuIsOpen: false,
    toggleMenu() {
      this.mobileMenuIsOpen = !this.mobileMenuIsOpen;
      if (this.mobileMenuIsOpen) {
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    closeMenu() {
      this.mobileMenuIsOpen = false;
      document.body.style.overflow = 'auto';
    }
  }"
    class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 py-6 flex justify-between items-center relative"
    aria-label="penguin ui menu"
  >
    <a
      href="/"
      class="text-2xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong z-20"
    >
      Foodle
    </a>
    <ul class="hidden items-center gap-4 sm:flex">
      <li>
        <a
          href="/"
          class="font-bold text-primary underline-offset-2 hover:text-primary focus:outline-hidden focus:underline dark:text-primary-dark dark:hover:text-primary-dark"
          aria-current="page">Home</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-medium text-on-surface underline-offset-2 hover:text-primary focus:outline-hidden focus:underline dark:text-on-surface-dark dark:hover:text-primary-dark"
          >Offer</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-medium text-on-surface underline-offset-2 hover:text-primary focus:outline-hidden focus:underline dark:text-on-surface-dark dark:hover:text-primary-dark"
          >Service</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-medium text-on-surface underline-offset-2 hover:text-primary focus:outline-hidden focus:underline dark:text-on-surface-dark dark:hover:text-primary-dark"
          >Menu</a
        >
      </li>
      <li>
        <a
          href="#"
          class="font-medium text-on-surface underline-offset-2 hover:text-primary focus:outline-hidden focus:underline dark:text-on-surface-dark dark:hover:text-primary-dark"
          >About Us</a
        >
      </li>
    </ul>
    <div class="hidden items-center gap-4 sm:flex">
      <a
        href="#"
        class="font-medium text-danger underline-offset-2 hover:text-red-600 focus:outline-hidden focus:underline dark:text-red-600 dark:hover:text-red-600"
      >
        Login
      </a>
      <a
        href="#"
        class="whitespace-nowrap bg-transparent rounded-3xl border border-danger px-4 py-2 text-sm font-medium tracking-wide text-danger transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:border-danger dark:text-danger dark:focus-visible:outline-danger"
      >
        Sign Up
      </a>
    </div>

    <button
      x-on:click="toggleMenu()"
      x-bind:aria-expanded="mobileMenuIsOpen"
      x-bind:class="mobileMenuIsOpen ? 'fixed top-7 right-3 z-30' : null"
      type="button"
      class="flex text-on-surface dark:text-on-surface-dark sm:hidden cursor-pointer"
      aria-label="mobile menu"
      aria-controls="mobileMenu"
    >
      <svg
        x-cloak
        x-show="!mobileMenuIsOpen"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        aria-hidden="true"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
      <svg
        x-cloak
        x-show="mobileMenuIsOpen"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        aria-hidden="true"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18 18 6M6 6l12 12"></path>
      </svg>
    </button>

    <div
      x-cloak
      x-show="mobileMenuIsOpen"
      x-transition:enter="transition-opacity ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition-opacity ease-in duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      @click="closeMenu()"
      class="fixed inset-0 bg-black/50 z-20 sm:hidden"
    >
    </div>

    <ul
      x-cloak
      x-show="mobileMenuIsOpen"
      x-transition:enter="transition motion-reduce:transition-none ease-out duration-300"
      x-transition:enter-start="-translate-y-full"
      x-transition:enter-end="translate-y-0"
      x-transition:leave="transition motion-reduce:transition-none ease-out duration-300"
      x-transition:leave-start="translate-y-0"
      x-transition:leave-end="-translate-y-full"
      id="mobileMenu"
      class="fixed max-h-svh overflow-y-auto inset-x-0 top-0 z-20 flex flex-col divide-y divide-outline rounded-b-2xl border-b border-outline bg-surface-alt px-6 pb-6 pt-20 dark:divide-outline-dark dark:border-outline-dark dark:bg-surface-dark-alt sm:hidden"
    >
      <a
        href="/"
        class="w-full py-4 text-lg font-bold text-primary focus:underline dark:text-primary-dark"
        aria-current="page">Home</a
      >
      <a
        href="#"
        class="w-full py-4 text-lg font-medium text-on-surface focus:underline dark:text-on-surface-dark"
        >Offer</a
      >
      <a
        href="#"
        class="w-full py-4 text-lg font-medium text-on-surface focus:underline dark:text-on-surface-dark"
        >Service</a
      >
      <a
        href="#"
        class="w-full py-4 text-lg font-medium text-on-surface focus:underline dark:text-on-surface-dark"
        >Menu</a
      >
      <a
        href="#"
        class="w-full py-4 text-lg font-medium text-on-surface focus:underline dark:text-on-surface-dark"
        >About Us</a
      >
      <div class="flex flex-col space-y-1.5">
        <a
          href="#"
          class="text-center px-4 py-2 font-medium text-danger underline-offset-2 hover:text-red-600 focus:outline-hidden focus:underline dark:text-red-600 dark:hover:text-red-600"
        >
          Login
        </a>
        <a
          href="#"
          class="whitespace-nowrap bg-transparent rounded-3xl border border-danger px-4 py-2 text-sm font-medium tracking-wide text-danger transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:border-danger dark:text-danger dark:focus-visible:outline-danger"
        >
          Sign Up
        </a>
      </div>
    </ul>
  </nav>
  <div
    class="max-w-7xl mx-auto px-3 sm:px-6 lg:px-8 py-6 flex flex-col items-center justify-center text-center"
  >
    <h1
      class="text-4xl sm:text-5xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong"
    >
      Foodle
    </h1>
    <p
      class="text-lg sm:text-xl font-medium text-on-surface dark:text-on-surface-dark"
    >
      The best food delivery service in town
    </p>
    <div class="mt-6 flex gap-4">
      <a
        href="#"
        class="whitespace-nowrap bg-transparent rounded-3xl border border-primary px-4 py-2 text-sm font-medium tracking-wide text-primary transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:border-primary-dark dark:text-primary-dark dark:focus-visible:outline-primary"
      >
        Order Now
      </a>
      <a
        href="#"
        class="whitespace-nowrap bg-transparent rounded-3xl border border-danger px-4 py-2 text-sm font-medium tracking-wide text-danger transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-danger active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:border-danger dark:text-danger dark:focus-visible:outline-danger"
      >
        Learn More
      </a>
    </div>
  </div>
</section>
